div{
    width: 550px;
    margin-left: calc(48% - 275px);
    margin-top: 27vh;
    border:1px solid blue;
    position:absolute;
    border-radius:15px;
}

img{
    width: 20%;
    border-radius:50%;
    position:relative;
    left:40%;
    bottom:50px;
    z-index:1;
}

p{
    position:relative;
    bottom:35px;
    margin:25px 20px;
    color:white;
    font-family:Courier;
}

div:nth-child(1) {
    background-color: red;
}

div:nth-child(2) {
    background-color: purple;
}

div:nth-child(3) {
    background-color: blue;
}
